@import "./parciales/vars"; 
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Roboto:wght@300;400;700&display=swap');
@import "./parciales/reset"; 
@import "./parciales/header";
@import "./parciales/hero"; 
@import "./parciales/separador"






