
.equipo{
    background-color: #FF6E00;
    color:#fff; 
    display: flex;
    flex-direction: column;
    padding: 60px 40px;

    &__contenedor{
        display: flex;
        flex-direction: row;
        font-family: 'Roboto', sans-serif;
    }

    &__titulo--grande{
        font-family: 'Londrina Solid', cursive;
        font-size: 2rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;
    }
    &__miembro{
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        text-align: center;
        font-size: 1rem;
        line-height: 1.8;
    
    }
    &__img{
        width: 100%;
        border-radius: 50%;
        max-width: 160px;
        height: 160px;
        object-fit: cover;
        margin: auto;
    }
}


.complementoEquipo{
    display: flex;
    flex-direction: row;
    padding: 60px 40px;
    justify-content: center; 
    font-family: 'Roboto', sans-serif;
    &__contenedor{
        display: flex; 
        flex-direction: row;
        gap: 20px; 
    }
    &__img{
        width: 100%;
    }
    &__contenedor--texto{
        align-self: center;
        width: 100%;
    }
    
    &__titulo{
        font-family: 'Londrina Solid', cursive;
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    
    &__parrafo{
        font-size: 1rem;
        line-height: 1.8;
    }
}







