 .hero{
    background-image: url("../img/nene-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    &__contenedor{
        color: white;
        position: relative;
        left: 30px; 
        padding: 20px 15px;
        border-radius: 15px; 
        width: 550px;
    }
    &__titulo{
        font-family: 'Londrina Solid', cursive;
        font-weight: 400;
        font-size: $font-size*3;
    }
}



