.hero{
    background-image: url("../img/nene-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
    &__contenedor{
        color: white;
        position: relative;
        left: 30px; 
        padding: 20px 15px;
        border-radius: 15px; 
        width: 550px;
    }
    &__titulo{
        font-family: 'Londrina Solid', cursive;
        font-weight: 400;
        font-size: $font-size;
    }
}

.complementoMain{
    color: white; 
    background-color: $color-secundario;
    display: $flexible;
    &__contenedor{
        display: $flexible;
        flex-direction: column;
        flex-basis: 50%;
        padding: 60px 40px;
        justify-content: center;
    }
    &__video{
        width: 100%;
    }

    &__titulo{
        font-family: 'Londrina Solid', cursive;
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__parrafo{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.8;
    }
}

