.separador{
    background: rgb(82,34,208);
    background: -moz-linear-gradient(324deg, rgba(82,34,208,1) 4%, rgba(68,28,172,1) 48%, rgba(0,0,0,1) 86%);
    background: -webkit-linear-gradient(324deg, rgba(82,34,208,1) 4%, rgba(68,28,172,1) 48%, rgba(0,0,0,1) 86%);
    background: linear-gradient(324deg, rgba(82,34,208,1) 4%, rgba(68,28,172,1) 48%, rgba(0,0,0,1) 86%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5222d0",endColorstr="#000000",GradientType=1);
    height: 8px;
    border: none; 
}